.center
  %a.ball.blue{ href: (@count < 5 ? page6_path(count: @count + 1) : page7_path) }
  .ball-list
    .ball.yellow
    .ball.yellow
    .ball.yellow
    .ball.yellow
    .ball.yellow
  .ball.red
