.center
  .ball-list
    .ball.blue
    .ball.blue
    .ball.blue
    .ball.blue
    .ball.blue
  .ball-list
    .ball.yellow
    .ball.yellow
    .ball.yellow
    .ball.yellow
    .ball.yellow
  .ball-list
    .ball.red
    .ball.red
    .ball.red
    .ball.red
    .ball.red
