.center
  .ball-list
    .ball.blue
    .ball.blue
    .ball.blue
    .ball.blue
    .ball.blue
  .ball-list
    .ball.yellow
    .ball.yellow
    .ball.yellow
    .ball.yellow
    .ball.yellow
  %a.ball.red{ href: (@count < 5 ? page7_path(count: @count + 1) : page8_path) }
