.center
  .ball-list
    .ball.blue
    .ball.blue
    .ball.blue
    .ball.blue
    .ball.blue
  .ball-list
    .ball.yellow
    .ball.yellow
    .ball.yellow
    .ball.yellow
    .ball.yellow
  - next_url = count < 5 ? pages_path(id: 7, count: count + 1) : pages_path(id: 8)
  = link_to '', next_url, class: 'ball red'
